@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-scrollbar: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}

html {
  background: black;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: black;
}

div {
  -webkit-scrollbar: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

div::-webkit-scrollbar {
  display: none;
}
